* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

:root {
  --clr-white: #ffffff;
  --clr-white-transparent: #ffffff40;
  --clr-gray: #838383;
  --clr-gray-1: #0f0f0f;
  --clr-transparent: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../img/home/imgBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


/*#region header*/

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(to bottom, var(--clr-gray-1), var(--clr-transparent));

  & nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    justify-content: space-around;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      .travel {
        width: 30px;
      }

      .travelers {
        width: 80px;
      }
    }

    .menu {
      & a {
        color: var(--clr-white);
        padding: 0 1em;
        font-weight: 200;
      }
    }

    .search {
      display: flex;
      align-items: center;
      color: var(--clr-white);
    }
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    background: var(--clr-white-transparent);
    width: 90%;
    margin: 0 auto;
  }
}

/*#endregion header*/

/*#region home */

#home {
  height: 90vh;
  background: linear-gradient(to top, var(--clr-gray-1), var(--clr-transparent), var(--clr-transparent));
  flex-direction: column;
  display: flex;

  .textHomeContainer {
    flex-grow: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    & ul {
      & li {
        display: flex;
        flex-direction: column;
        gap: 2em;

        & h1 {
          font-size: 90px;
          color: var(--clr-white);
          font-weight: 600;
        }

        & p {
          color: var(--clr-white);
          max-width: 50%;
        }
      }
    }
  }

  .menuTab {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    .travelDescriptionOne {
      width: 16%;
      display: flex;
      gap: 1em;

      .imgOne {

        .imgDescription {
          color: var(--clr-gray);
          font-size: 2em;

        }
      }

      .moreDetailedOne {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            a {
              color: var(--clr-gray);
              gap: 0.5em;
              display: flex;
              align-items: center;
              font-weight: 600;
            }

            .textDescription {
              color: var(--clr-gray);
            }
          }
        }
      }
    }

    .travelDescriptionTwo {
      width: 16%;
      display: flex;
      gap: 1em;

      .imgTwo {
        .imgDescription {
          color: var(--clr-gray);
          font-size: 2em;

        }
      }

      .moreDetailedTwo {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            a {
              color: var(--clr-gray);
              gap: 0.5em;
              display: flex;
              align-items: center;
              font-weight: 600;
            }

            .textDescription {
              color: var(--clr-gray);
            }
          }
        }
      }
    }

    .travelDescriptionThree {
      width: 16%;
      display: flex;
      gap: 1em;

      .imgThree {
        .imgDescription {
          color: var(--clr-gray);
          font-size: 2em;
        }
      }

      .moreDetailedThree {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            a {
              color: var(--clr-gray);
              gap: 0.5em;
              display: flex;
              align-items: center;
              font-weight: 600;
            }

            .textDescription {
              color: var(--clr-gray);
            }
          }
        }
      }
    }
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    background: var(--clr-white-transparent);
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
  }
}

/*#endregion home */

/*#region tours*/

#tours {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--clr-gray-1);

  .textTours {
    display: flex;
    justify-content: center;

    & ul {
      & li {
        display: flex;
        align-items: center;
        flex-direction: column;

        & h2 {
          color: var(--clr-white);
        }

        & p {
          color: var(--clr-white);
        }
      }
    }
  }

  .cardsTour {
    display: flex;
    gap: 4em;
    justify-content: center;

    .cardOne {
      .imgCardTours {
        & img {
          width: 200px;
          border-radius: 0.2em;
          border: 1px solid var(--clr-white-transparent);
        }
      }

      .textCard {
        & ul {
          & li {
            & h2 {}

            & p {}
          }
        }
      }
    }

    .cardTwo {
      .imgCardTours {
        & img {
          width: 200px;
          border-radius: 0.2em;
          border: 1px solid var(--clr-white-transparent);
        }
      }

      .textCard {
        & ul {
          & li {
            & h2 {}

            & p {}
          }
        }
      }
    }

    .cardThree {
      .imgCardTours {
        & img {
          width: 200px;
          border-radius: 0.2em;
          border: 1px solid var(--clr-white-transparent);
        }
      }

      .textCard {
        & ul {
          & li {
            & h2 {}

            & p {}
          }
        }
      }
    }

    .cardFour {
      .imgCardTours {
        & img {
          width: 200px;
          border-radius: 0.2em;
          border: 1px solid var(--clr-white-transparent);
        }
      }

      .textCard {
        & ul {
          & li {
            & h2 {}

            & p {}
          }
        }
      }
    }
  }
}

/*#endregion tours*/

/*#region new way*/

#newWayBanner {
  display: flex;
  height: 100vh;
  background:
    linear-gradient(to top, var(--clr-gray-1), transparent),
    linear-gradient(to bottom, var(--clr-gray-1), transparent),
    url('../img/newWay/wpNewWay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: column;

  .newWayContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;

    .textNewWay {
      width: 400px;

      & ul {
        & li {
          display: flex;
          flex-direction: column;
          gap: 1.5em;

          h1 {
            font-size: 50px;
            color: var(--clr-white);
            font-weight: 600;
          }

          .videoPlay {
            display: flex;
            align-items: center;
            gap: 1em;
            color: var(--clr-white);

            .play {
              font-size: 3em;
            }
          }

          p {
            color: var(--clr-white);
          }
        }
      }
    }

    .videoContainer {
      display: flex;
      gap: 1em;

      .videoOne {
        & img {
          width: 250px;
          height: 150px;
          object-fit: cover;
        }
      }

      .videoTwo {
        & img {
          width: 250px;
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }

  footer {
    .socialMedia {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
      background: var(--clr-transparent);
      height: 10vh;
      justify-content: flex-end;

      .int-icon {
        & a {
          & iconify-icon {
            color: white;
            font-size: 3em;

          }
        }
      }

      .yt-icon {
        & a {
          & iconify-icon {
            color: white;
            font-size: 3em;

          }
        }
      }

      .vk-icon {
        & a {
          & iconify-icon {
            color: white;
            font-size: 3em;

          }
        }
      }

      .fb-icon {
        & a {
          & iconify-icon {
            color: white;
            font-size: 3em;

          }
        }
      }
    }
  }

}

/*#endregion new way*/