* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
  ;
}

:root {
  --clr-white: #ffffff;
  --clr-white-transparent: #ffffff40;
  --clr-gray: #838383;
}

body {
  background-image: url(../img/imgBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*#region header*/

header {
  & nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3em;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;

      .travel {
        width: 30px;
      }

      .travelers {
        width: 80px;
      }
    }

    .menu {
      & a {
        color: var(--clr-white);
        padding: 0 1em;
        font-weight: 200;
      }
    }

    .search {
      display: flex;
      align-items: center;
      color: var(--clr-white);
    }
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    background: var(--clr-white-transparent);
    width: 90%;
    margin: 0 auto;
  }
}

/*#endregion header*/

/*#region home */

#home {
  height: 90vh;

  .textHomeContainer {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & ul {
      & li {
        display: flex;
        flex-direction: column;
        gap: 2em;

        & h1 {
          font-size: 90px;
          color: var(--clr-white);
        }

        & p {
          color: var(--clr-white);
          max-width: 50%;
        }
      }
    }
  }

  .menuTab {
    height: 45vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    .travelDescriptionOne {
      width: 16%;
      display: flex;
      gap: 1em;

      .imgOne {

        .imgDescription {
          color: var(--clr-gray);
          font-size: 2em;

        }
      }

      .moreDetailedOne {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            a {
              color: var(--clr-gray);
              gap: 0.5em;
              display: flex;
              align-items: center;
            }

            .textDescription {
              color: var(--clr-gray);
            }
          }
        }
      }
    }

    .travelDescriptionTwo {
      width: 16%;
      display: flex;
      gap: 1em;

      .imgTwo {
        .imgDescription {
          color: var(--clr-gray);
          font-size: 2em;

        }
      }

      .moreDetailedTwo {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            a {
              color: var(--clr-gray);
              gap: 0.5em;
              display: flex;
              align-items: center;
            }

            .textDescription {
              color: var(--clr-gray);
            }
          }
        }
      }
    }

    .travelDescriptionThree {
      width: 16%;
      display: flex;
      gap: 1em;

      .imgThree {
        .imgDescription {
          color: var(--clr-gray);
          font-size: 2em;
        }
      }

      .moreDetailedThree {
        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            a {
              color: var(--clr-gray);
              gap: 0.5em;
              display: flex;
              align-items: center;
            }

            .textDescription {
              color: var(--clr-gray);
            }
          }
        }
      }
    }
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    background: var(--clr-white-transparent);
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
  }
}

/*#endregion home */